

.test-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.adaptive-container {
  box-sizing: border-box;
  flex: 1 0 auto;
  position: relative;
}