:global(body) {
  padding: 0;
  margin: 0;
}


.table-container {
  box-sizing: border-box;

  &-scroll-y {
    overflow-y: scroll;
  }

  &-scroll-x {
    overflow-x: scroll;
  }

  &-auto {
    overflow: scroll;
  }
}

.adaptive-container {
  box-sizing: border-box;
  flex: 1 0 auto;
  display: flex;
  position: relative;

  .adaptive-dom {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    border: none;
  }

  .content {
    box-sizing: border-box;
    overflow: visible;
    width: 0;
    height: 0;
  }
}


.window-scroller {
  display: flex;
  flex: 1 0 auto;
}

// global
:global(.vTable-global-class-name) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
}